@import url('https://fonts.googleapis.com/css?family=Butcherman&display=swap');

#navbar-container {

    background-color: rgb(51, 51, 51);
    text-align: center;

}
  
  

#logo{

  display: flex;
  justify-content: space-around;

}

h1{

color:rgb(149, 26, 26);
  font-family: 'Butcherman', cursive;
  line-height: 2.2 !important;
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #fff;

}

.cart
{
  cursor: pointer;
}